.header {
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  padding: 20px 0;
  width: 100%;
  background-color: rgba(49, 175, 49, 0.726);
  box-shadow: 0 0 3px 5px #8c858567;
}
a {
  display: flex;
}
