.header {
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  padding: 20px 0;
  width: 100%;
  background-color: rgba(49, 175, 49, 0.726);
  box-shadow: 0 0 3px 5px #8c858567;
}
a {
  display: flex;
}
.link {
  background-color: antiquewhite;
  padding: 5px 20px;
  border-radius: 5px;
  color: #262826;
}

.link:hover,
.link:focus {
  color: #262826;
  box-shadow: 0 0 5px 2px rgba(rgb(76, 128, 76), rgb(76, 128, 76), blue, 0.7);
  transform: translate(3px, 5px);
  -webkit-transform: translate(3px, 5px);
}

.active {
  background-color: rgb(218, 144, 47);
  color: #fff;
}
